.card-content {
  height: 130px;
}

.marked {
  font-weight: bold;
  color: orange !important;
}

.hovered {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  z-index: 10;
}
